/.vscode
/languages/spark/project
/languages/spark/target
/tools/sbt/project
/tools/sbt/target
/tools/sbt/.bsp
/languages/scala/Maps.class
/languages/scala/Maps$.class
/languages/python/env
/languages/python/config
/languages/python/db.sqlite3
/languages/python/manage.py
/languages/go/app
/languages/dotnet/bin
/languages/dotnet/obj